.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/
.DS_Store
dist/
build/
.next/
out/
eng.traineddata
frontend/public/Frijole,Nunito/Frijole/Frijole-Regular.ttf